<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <div>
            <h1><a href=""> 나의 이야기</a></h1>
        </div>

        <div>
            <p>published: 17.05.2025, 12:42</p>
            <h2><a href="">My first post</a></h2>
            <p>오 생각보다 django 프레임워크가 배우기 쉬웠다</p>
        </div>

        <div>
             <p>published: 17.05.2025, 12:48</p>
            <h2><a href="">My first post</a></h2>
            <p>이거 과제 끝내도 과제가 산 넘어 산이다 ㅠㅠㅠ</p>
        
        </div>
    </body>
</html>